/* COMMON */
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	src: local('Gilroy'),
		url(../assets/fonts/Gilroy-Regular.woff2) format('woff2'), 
		url(../assets/fonts/Gilroy-Regular.woff) format('woff'),
}

@font-face {
	font-family: 'Gilroy Semibold';
	font-style: normal;
	font-weight: normal;
	src: local('Gilroy Semibold'),
		url(../assets/fonts/Gilroy-Semibold.woff2) format('woff2'),
		url(../assets/fonts/Gilroy-Semibold.woff) format('woff');
}

html,
body {
  // font-family: 'Bellefair', serif;
  height: 100%;
  font-family: 'Gilroy', serif;
  font-size: 1rem;
  color: #1F3F68;
}

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}
/* ----------------------------------------------------------------- */
/* header start */
.header {

  .header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;


      .logo {
        display: flex;
        position: relative;
        align-items: center;

          .logo__circle-blue {
            width: 32px;
            height: 32px;
            border: solid 2px;
            border-radius: 50%;
            border-color: #316099;
            background-color: #316099;
            z-index: 0;
          }

          .logo__circle-white {
            width: 32px;
            height: 32px;
            border: solid 2px;
            border-radius: 50%;
            border-color: #316099;
            background-color: #FFF;
            z-index: 1;
            transform: translateX(-50%);
          }

          .logo__letter{
            font-family: 'Gilroy Semibold';
            font-size: 1.6rem;
            line-height: 20px;
            color: #316099;
            z-index: 2;
            position: absolute;
            transform: translateX(24px) translateY(-1px);
          }
      }

      .header_menu{
        display: none;
      }

      .icon-menu{
        position: relative;
        height: 16px;
        width: 24px;
        flex: 0 0 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
          span{
          background-color: #316099;
          height: 2px;
          border: 0px;
        }
      }

      .icon-menu::before,
      .icon-menu::after{
        content: "";
        background-color: #316099;
        height: 2px;
      }

  }
}
/* header start */

