/* import */
@import 'fonts.scss';

@import 'variables.scss';

@import 'mixins.scss';

/* common */
html,
body {
  height: 100%;
  font-family: $font-family-default;
  color: $main-text-color;
}

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.container{
  max-width: 940px;
  margin: 0 auto;
  display: flex;
}

._color-white {
  color: #FFF;
}

.button {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: white;
  height: 56px;
  width: 220px;
  background: #5A98D0;
  border-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: letter-spacing 0.3s ease 0s, opacity 0.5s ease 0s;

  &:hover {
    opacity: 0.8;
    letter-spacing: 0.1rem;
  }

  @media screen and (max-width: 375px) {
    width: 176px;
    height: 46px;
  }
}

/* common end */

/* header */
.header {
  background-color: #FFF;
  width: 100%;

  &-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;

      .logo {
        display: flex;
        position: relative;
        align-items: center;

          &__circle-blue {
            width: 32px;
            height: 32px;
            border: solid 2px;
            border-radius: 50%;
            border-color: $main-color;
            background-color: $main-color;
            z-index: 11;
            position: relative;
            animation-name: orbit;
            animation-duration: 3s;
          }

          @keyframes orbit {
            0% {
              transform: translateX(0);
            }
            50% {
              transform: translateX(50px);
            }
            100% {
              transform: translateX(0px);
            }
          }

          &__circle-white {
            width: 32px;
            height: 32px;
            border: solid 2px;
            border-radius: 50%;
            border-color: $main-color;
            background-color: #FFF;
            z-index: 12;
            transform: translateX(-50%);
          }

          &__circle-blue:hover {
            animation-name: orbit;
            animation-duration: 3s;
          }

          &__letter {
            font-family: 'Gilroy Semibold';
            font-size: 2rem;
            color: $main-color;
            z-index: 13;
            position: absolute;
            transform: translateX(26px) translateY(-1px);
          }

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      .header-menu {
        display: flex;

        .menu__body {
          display: none;
          width: 100%;
          overflow: auto;
          background-color: #FFF;

          .menu__list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .menu__item {
              font-family:'Gilroy Semibold', serif;
              font-size: 2rem;
              letter-spacing: 0.05rem;

              .menu__link:hover {
                text-decoration: underline;
              }

              @media screen and (max-width: 1024px) {
                letter-spacing: normal;
              }

              @media screen and (max-width: 819px) {
                font-size: 2.4rem;
              }

            }

            @media screen and (max-width: 1024px) {
              gap: 24px;
            }

            @media screen and (max-width: 819px) {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
            }
          }

          @media screen and (max-width: 819px) {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          overflow: auto;
          height: 100%;
          background-color: #FFF;
          padding: 90px 20px 30px 20px;
          justify-content: center;
          z-index: 10;
          }

        }

      }

      .close-icon-menu,
      .icon-menu {
        position: relative;
        z-index: 11;
        height: 16px;
        width: 24px;
        flex: 0 0 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
          span{
          background-color: $main-color;
          height: 2px;
          border: 0px;
        }
      }

      .icon-menu::before,
      .icon-menu::after {
        content: "";
        background-color: $main-color;
        height: 2px;
      }

      .close-icon-menu {
        display: none;
      }

      .close-icon-menu::before,
      .close-icon-menu::after {
        content: "";
        background-color: #EB5757;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        // transform-origin: 0 0;
      }

      .close-icon-menu::before {
        transform: rotate(45deg);
      }

      .close-icon-menu::after {
        transform: rotate(-45deg);
      }
    
      @media screen and (max-width: 1024px) {
        padding-left: 30px;
        padding-right: 30px;
      }
  }

  &:target {
    .menu__body {
      display: flex;
    }

    .menu__body:before {
      @media screen and (max-width: 819px) {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 90px;
        width: 100%;
        background-color: #FFF;
        }
    }

    .icon-menu{
      display: none;
    }

    .close-icon-menu{
      display: flex;
    }
  }
}
/* header end */

/* intro start */
.intro {
  background: linear-gradient(0deg, #98C3E8 10.84%, rgba(152, 195, 232, 0.1) 31.12%);

  &-container {
    max-width: 1366px;
    margin: 0 auto;
    padding-left: 213px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;

    .text-block {
      display: flex;
      flex-direction: column;
      max-width: 510px;

      &__title {
        font-family: serif;
        font-size: 42px;
        letter-spacing: 1.6px;
        margin-top: 60px;
        margin-bottom: 30px;

        @media screen and (max-width: 1024px) {
          font-size: 36px;
          margin-top: 30px;
        }
        // 767.98px - при разрешении устройства 786px min- и max- будут правильно работать

        @media screen and (max-width: 767.98px) {
          text-align: center;
        }

        @media screen and (max-width: 375px) {
          font-size: 32px;
        }
      }

      &__text {
        font-family: $font-family-default;
        font-size: 16px;
        max-width: 425px;
        line-height: 26px;
        letter-spacing: 0.05em;
        opacity: 0.6;
        margin-bottom: 60px;

        @media screen and (max-width: 1024px) {
          margin-bottom: 30px;
        }

        @media screen and (max-width: 767.98px) {
          text-align: center;
        }
      }

      @media screen and (max-width: 767.98px) {
        justify-content: center;
        align-items: center;
      }
    }

    .img-block {

      img {
        @media screen and (max-width: 1360px) {
          // width: 468px;
          max-width: 100%;
        }

        @media screen and (max-width: 1024px) {
          width: 364px;
        }

        @media screen and (max-width: 767.98px) {
          display: none;
        }
      }
    }

    @media screen and (max-width: 1360px) {
      max-width: 940px;
      padding-right: 0;
      padding-left: 0;
      justify-content: space-between;
    }

    @media screen and (max-width: 1024px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media screen and (max-width: 767.98px) {
      justify-content: center;
    }
  }
  
} 
/* intro end */

/* what-we-do start */
.what-we-do {
  background-color: #fff;

  .container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 180px;

    .grid-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 80px 1fr 1fr;
      grid-template-areas:
      "A A B"
      ". C B"
      ". C D"
      ". . D";
      gap: 50px;

      .title {
        grid-area: A;
        font-size: 3.6rem;
        letter-spacing: 1.6px;
        // margin-top: 180px;
        margin-bottom: 30px;
        max-width: 360px;

        @media screen and (max-width: 1024px) {
          // font-size: 3rem;
          justify-self: flex-start;
          margin-top: 40px;
        }

        @media screen and (max-width: 767.98px) {
          margin-top: 0px;
          font-size: 2.8rem;
          text-align: center;
        }

        @media screen and (max-width: 375px) {
          margin-bottom: 20px;
          font-size: 2.6rem;
        }
      }
    
      .card {
        background-color: #FFF;
        border-radius: 10px;
        width: 380px;
        max-height: 525px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 48px;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  
        &__img {
          margin-bottom: 50px;
        }
    
        &__title {
          font-family: 'Gilroy Semibold', serif;
          font-size: 2rem;
          text-align: left;
          max-height: 60px;
          line-height: 30px;
          margin-bottom: 16px;
        }
    
        &__text {
          font-size: 1.6rem;
          text-align: left;
          margin-bottom: 16px;
          opacity: 0.6;
        }
    
        &__learn-more {
          font-family: 'Gilroy Semibold', serif;
          display: flex;
          align-items: center;
          align-self: flex-start;
          font-size: 1.4rem;
          color: #5A98D0;
          cursor: pointer;
          position: relative;

          img {
            margin-left: 20px;
            transition: transform 0.3s ease 0s;
          }
        }
      
        &__learn-more:hover {
          opacity: 0.8;

          img {
          transform: translateX(20px);
          }
        }

        @media screen and (max-width: 1024px) {
          padding: 8px;
          width: 300px;
        }
      }

      .card-1 {
        grid-area: B;
      }

      .card-2 {
        grid-area: C;
      }

      .card-3 {
        grid-area: D;
      }

      @media screen and (max-width: 1024px) {
        grid-template-columns: 150px 1fr 1fr;
      }

      @media screen and (max-width: 900px) {
        grid-template-columns: 0px 1fr 1fr;
      }

      @media screen and (max-width: 767.98px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
      }

      @media screen and (max-width: 767.98px) {
        gap: 20px;
      }
    }
    
    @media screen and (max-width: 1200px) {
      padding-top: 80px;
    }

    @media screen and (max-width: 1024px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media screen and (max-width: 767.98px) {
      padding-top: 40px;
    }
  }
}
/* what-we-do end */

/* projects */
.projects {
  background-color: #fff;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 180px;
    padding-bottom: 180px;

    .section-title {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 96px;

      h2 {
        display: flex;
        font-family: 'Gilroy Semibold', serif;
        font-size: 3.6rem;
        max-height: 92px;
        max-width: 225px;

        @media screen and (max-width: 767.98px) {
          text-align: center;
          font-size: 2.8rem;
          margin-bottom: 40px;
        }
      }

      p {
        font-size: 1.6rem;
        opacity: 0.6;
        margin-left: 60px;
        max-height: 92px;
        max-width: 520px;

        @media screen and (max-width: 1024px) {
          max-width: 425px;
        }

        @media screen and (max-width: 767.98px) {
          text-align: center;
          margin-left: 0;
        }
      }

      @media screen and (max-width: 1024px) {
        margin-bottom: 60px;
      }

      @media screen and (max-width: 767.98px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
      }
    }

    .projects-big-card {
      display: flex;
      margin-bottom: 96px;

      img {
        max-width: 100%;
      }

      @media screen and (max-width: 1024px) {
        margin-bottom: 40px;
      }
    }

    .projects-card-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      img {
        max-width: 100%;
      }

      @media screen and (max-width: 1024px) {
        gap: 40px;
        justify-content: center;
      }
    }

    @media screen and (max-width: 1024px) {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
}
/* projects end */

/* clients */
.clients {
  background-color: #fff;
  display: flex;
  justify-content: center;

  &-wrapper {
    background-color: #5A98D0;
    width: 1366px;
    border-radius: 200px 0 0 0;

    .container {

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 80px;

        .section-title {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          margin-bottom: 96px;

          h2 {
            display: flex;
            font-family: 'Gilroy Semibold', serif;
            font-size: 3.6rem;
            max-height: 92px;
            max-width: 225px;

            @media screen and (max-width: 767.98px) {
              text-align: center;
              font-size: 2.8rem;
              margin-bottom: 40px;
            }
          }

          p {
            font-size: 1.6rem;
            opacity: 0.6;
            margin-left: 60px;
            max-height: 92px;
            max-width: 520px;

            @media screen and (max-width: 1024px) {
              max-width: 425px;
            }

            @media screen and (max-width: 767.98px) {
              text-align: center;
              margin-left: 0;
            }
          }

        @media screen and (max-width: 1024px) {
          margin-bottom: 60px;
        }

        @media screen and (max-width: 767.98px) {
          flex-direction: column;
          align-items: center;
          margin-bottom: 40px;
        }
        
      }

      .logos-table {
        display: grid;
        // grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // max-width: 100%;
        align-items: stretch;
        margin-bottom: 125px;

        &__item {
          font-family: $font-family-default;
          letter-spacing: 0.1rem;
          font-size: 2rem;
          height: 128px;
          // width: 235px;
          text-align: center;
          line-height: 20px;
          // margin: 39px;
          border: 1px solid #fff;
          padding-top: 50px;
        }

        @media screen and (max-width: 1024px) {
          grid-template-columns: 1fr 1fr 1fr;
          margin-bottom: 80px;
        }

        @media screen and (max-width: 767.98px) {
          grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 480px) {
          grid-template-columns: 1fr;
        }
      }

      .logos-table > div:last-child {
        background-color: #1f3e662d;
      }

      @media screen and (max-width: 1024px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    @media screen and (max-width: 1360px) {
      max-width: 100%;
    }

    @media screen and (max-width: 1200px) {
      border-radius: 150px 0 0 0;
    }

    @media screen and (max-width: 1024px) {
      border-radius: 100px 0 0 0;
    }

    @media screen and (max-width: 480px) {
      border-radius: 80px 0 0 0;
    }
  }
}
/* clients end */

/* interested */
.interested {
  background-color: #fff;
  display: flex;
  justify-content: center;

  &-wrapper {
    background-color: #5A98D0;
    width: 1366px;

    &-dark {
      background-color: $main-color;
      border-radius: 0 200px 0 0;
      width: 1270px;

      .container {
        display: flex;
        justify-content: flex-start;
        padding-top: 80px;
        max-width: 844px;
        align-items: center;

        .text-block {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          &__title {
            display: flex;
            font-family: 'Gilroy Semibold', serif;
            font-size: 3.6rem;
            max-height: 92px;
            max-width: 320px;
            margin-bottom: 32px;

            @media screen and (max-width: 767.98px) {
              text-align: center;
              font-size: 2.8rem;
            }
          }

          &__text {
            font-size: 1.6rem;
            opacity: 0.6;
            max-height: 80px;
            max-width: 460px;
            margin-bottom: 80px;

            @media screen and (max-width: 1024px) {
              max-width: 425px;
              margin-bottom: 60px;
            }

            @media screen and (max-width: 767.98px) {
              text-align: center;
              margin-left: 0;
              margin-bottom: 40px;
            }
          }

          @media screen and (max-width: 767.98px) {
            flex-direction: column;
            align-items: center;
          }
        }

        .button {
          margin-left: 180px;

          @media screen and (max-width: 767.98px) {
           margin-left: 0;
          }
        }

        @media screen and (max-width: 1360px) {
        max-width: 940px;
        }

        @media screen and (max-width: 1024px) {
          padding-left: 20px;
          padding-right: 20px;
        }

        @media screen and (max-width: 767.98px) {
          flex-direction: column;
          align-items: center;
        }
      }

      @media screen and (max-width: 1360px) {
        max-width: 100%;
      }

      @media screen and (max-width: 1200px) {
        border-radius: 0 150px 0 0;
      }

      @media screen and (max-width: 1024px) {
        border-radius: 0 80px 0 0;
      }
    }

    @media screen and (max-width: 1360px) {
      max-width: 100%;
    }
  }
}
/* interested end */

/* footer */
.footer {
  background-color: #fff;
  display: flex;
  justify-content: center;

  &-wrapper {
    background-color: #5A98D0;
    width: 1366px;

    &-dark {
      background-color: $main-color;
      width: 1270px;

      .container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-top: 80px;
        max-width: 844px;

        .contacts {
          display: flex;
          flex-direction: column;
          max-width: 310px;
          color: #FFF;

          &__logo {
            font-family: 'Gilroy Semibold', serif;
            font-size: 2.8rem;
            color: #FFF;
            letter-spacing: 0.05rem;
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 40px;
          }

          &__text {
            display: flex;
            gap: 16px;
            font-size: 1.6rem;
            margin-bottom: 24px;

            span {
            font-family: 'Gilroy Semibold', serif;

            @media screen and (max-width: 767.98px) {
              display: none;
             }
            }
          }

          &__tel {
            display: flex;
            gap: 16px;
            font-size: 1.6rem;
            margin-bottom: 24px;

            span {
              font-family: 'Gilroy Semibold', serif;

              @media screen and (max-width: 767.98px) {
                display: none;
              }
            }

            a {
              color: inherit;
            }
          }


          &__e-mail {
            display: flex;
            gap: 16px;
            font-size: 1.6rem;
            margin-bottom: 24px;

            span {
              font-family: 'Gilroy Semibold', serif;

              @media screen and (max-width: 767.98px) {
                display: none;
              }
            }

            a {
              color: inherit;
            }
          }

          &__tel:hover,
          &__e-mail:hover {
            text-decoration: underline;
          }

          @media screen and (max-width: 767.98px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 16px;
           }
        }

        .about-us {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          font-size: 1.6rem;
          color: #FFF;
          margin-left: 80px;

          h3 {
            font-size: 20px;
            color: #FFF;
            margin-bottom: 40px;

            @media screen and (max-width: 767.98px) {
              margin-bottom: 24px;
            }
          }

          a {
            margin-bottom: 16px;
          }

         a:hover {
            text-decoration: underline;
            font-weight: bolder;
          }

          @media screen and (max-width: 767.98px) {
            margin-left: 0;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 16px;
          }
        }

        .follow-us {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          font-size: 1.6rem;
          color: #FFF;
          margin-left: 80px;


          h3 {
            font-size: 20px;
            color: #FFF;
            margin-bottom: 40px;

            @media screen and (max-width: 767.98px) {
              margin-bottom: 24px;
            }
          }
          
          a {
            margin-bottom: 16px;
            position: relative;
            display: flex;
            gap: 15px;

            @media screen and (max-width: 767.98px) {
              justify-content: space-between;
            }
          }

          figcaption {
            opacity: 0;
            transition: opacity 0.3s ease-out;

            @media screen and (max-width: 767.98px) {
              opacity: 1;
            }
          }

          a:hover {
            text-decoration: underline;
            font-weight: bolder;
          }

          a:hover figcaption {
            opacity: 0.8;
          }

          @media screen and (max-width: 767.98px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-left: 0;
            margin-bottom: 16px;
           }
        }

        .copyright {
          display: flex;
          color: #FFF;
          min-width: 288;
          font-size: 1.6rem;
          opacity: 0.3;
          margin-bottom: 64px;
        }

        @media screen and (max-width: 1360px) {
          max-width: 940px;
        }

        @media screen and (max-width: 1024px) {
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 60px;
        }

        @media screen and (max-width: 767.98px) {
          flex-direction: column;
          align-items: center;
        }
      }

      @media screen and (max-width: 1360px) {
        max-width: 100%;
      }
    }

    @media screen and (max-width: 1360px) {
      max-width: 100%;
    }
  }
}
/* footer end */







